<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>POS Main</title>
  
  <!-- MATERIAL CDN -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
  <!-- STYLESHEET -->
  <link rel="stylesheet" href="statics/css/style.css">
</head>
<body>
  <div class="container">
    <!------------------- ASIDE START ------------------->
    <aside>
      <div class="top">
        <div class="logo">
          <div class="logo-icon">
            <span class="material-icons-sharp">store</span>
          </div>
          <h1>POS <span class="danger">Main</span></h1>
        </div>
        <div class="close">
          <span class="material-icons-sharp">close</span>
        </div>
      </div>

      <div class="sidebar">
        <a href="#" class="active">
          <span class="material-icons-sharp">grid_view</span>
          <h3>Beranda</h3>
        </a>
        <a href="#">
          <span class="material-icons-sharp">computer</span>
          <h3>POS Kasir</h3>
        </a>
        <a href="barang">
          <span class="material-icons-sharp">inventory</span>
          <h3>Barang</h3>
        </a>
        <a href="#">
          <span class="material-icons-sharp">receipt_long</span>
          <h3>Laporan</h3>
        </a>
        <a href="#">
          <span class="material-icons-sharp">mail_outline</span>
          <h3>Pesan</h3>
          <span class="count">27</span>
        </a>
        <a href="#">
          <span class="material-icons-sharp">settings</span>
          <h3>Settings</h3>
        </a>
        <a href="#">
          <span class="material-icons-sharp">logout</span>
          <h3>Logout</h3>
        </a>
      </div>
    </aside>
    <!------------------- ASIDE END ------------------->
    <!------------------- MAIN START ------------------->
    <main>
      <h1>Selamat Datang</h1>

      <div class="date">
        <input type="date" name="" id="">
      </div>

      <!------------------- INSIGHTS START ------------------->
      <div class="insights">
        <!------------------- SALES START ------------------->
        <div class="sales">
          <span class="material-icons-sharp">analytics</span>
          <div class="middle">
            <div class="left">
              <h3>Penjualan</h3>
              <h1>IDR 150.000</h1>
            </div>
            <div class="progress">
              <svg>
                <circle cx="38" cy="38" r="36"></circle>
              </svg>
              <div class="number">
                <p>81%</p>
              </div>
            </div>
          </div>
          <small class="text-muted">24 Jam Terakhir</small>
        </div>
        <!------------------- STRUK START ------------------->
        <div class="struk">
          <span class="material-icons-sharp">bar_chart</span>
          <div class="middle">
            <div class="left">
              <h3>Total Pembeli</h3>
              <h1>25 Struk</h1>
            </div>
            <div class="progress">
              <svg>
                <circle cx="38" cy="38" r="36"></circle>
              </svg>
              <div class="number">
                <p>62%</p>
              </div>
            </div>
          </div>
          <small class="text-muted">24 Jam Terakhir</small>
        </div>
        <!------------------- SPD START ------------------->
        <div class="spd">
          <span class="material-icons-sharp">stacked_line_chart</span>
          <div class="middle">
            <div class="left">
              <h3>Sales Per Day</h3>
              <h1>IDR 99.000</h1>
            </div>
            <div class="progress">
              <svg>
                <circle cx="38" cy="38" r="36"></circle>
              </svg>
              <div class="number">
                <p>44%</p>
              </div>
            </div>
          </div>
          <small class="text-muted">24 Jam Terakhir</small>
        </div>
      </div>

      <!------------------- SUPPLIES START ------------------->
      <div class="supplies">
        <h2>Stok Barang</h2>
        <table>
          <thead>
            <tr>
              <th>Id</th>
              <th>Produk</th>
              <th>Satuan</th>
              <th>Jumlah</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for item in items %}
            <tr>
              <td>{{ item.id_product }}</td>
              <td>{{ item.product }}</td>
              <td>{{ item.unit }}</td>
              <td 
                {% if item.qty == 0 %}
                style="color: red;"
                {% endif %}
              >{{ item.qty }}</td>
              <td class="primary"> Detail</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <a href="">Show All</a>
      </div>
    </main>
    <!------------------- MAIN END ------------------->

    <!------------------- RIGHT START ------------------->
    <div class="right">
      <!------------------- TOP START ------------------->
      <div class="top">
        <button id="menu-btn">
          <span class="material-icons-sharp">menu</span>
        </button>
        <div class="theme-toggler">
          <span class="material-icons-sharp active">light_mode</span>
          <span class="material-icons-sharp">dark_mode</span>
        </div>
        <div class="profile">
          <div class="info">
            <p>Hey, <b>Alfin</b></p>
            <small class="text-muted">Admin</small>
          </div>
          <div class="profile-photo">
            <img src="statics/img/profile-1.jpg">
          </div>
        </div>
      </div>

      <!------------------- ACTIVITIES START ------------------->
      <div class="activities">
        <h2>Transaksi Terakhir</h2>
        <table>
          <thead>
            <tr>
              <th>Struk</th>
              <th>Barang</th>
              <th>Nominal</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>0023</td>
              <td>3</td>
              <td>IDR 20.000</td>
              <td class="primary">Detail</td>
            </tr>
            <tr>
              <td>0024</td>
              <td>3</td>
              <td>IDR 20.000</td>
              <td class="primary">Detail</td>
            </tr>
            <tr>
              <td>0025</td>
              <td>3</td>
              <td>IDR 20.000</td>
              <td class="primary">Detail</td>
            </tr>
            <tr>
              <td>0026</td>
              <td>3</td>
              <td>IDR 20.000</td>
              <td class="primary">Detail</td>
            </tr>
          </tbody>
        </table>
      </div>

    <!------------------- PRODUCT SOLD START ------------------->
    <div class="products-sold">
      <h2>Barang Terjual</h2>
      <div class="item">
        <div class="icon primary">
          <span class="material-icons-sharp">looks_one</span>
        </div>
        <div class="right">
          <div class="info">
            <h3>Kopi Bubuk</h3>
            <small class="text-muted">1 Bulan Terakhir</small>
          </div>
          <h5 class="success">+39%</h5>
          <h3>35</h3>
        </div>
      </div>
      <div class="item">
        <div class="icon primary">
          <span class="material-icons-sharp">looks_two</span>
        </div>
        <div class="right">
          <div class="info">
            <h3>Kopi Bubuk</h3>
            <small class="text-muted">1 Bulan Terakhir</small>
          </div>
          <h5 class="success">+39%</h5>
          <h3>35</h3>
        </div>
      </div>
      <div class="item">
        <div class="icon primary">
          <span class="material-icons-sharp">looks_3</span>
        </div>
        <div class="right">
          <div class="info">
            <h3>Kopi Bubuk</h3>
            <small class="text-muted">1 Bulan Terakhir</small>
          </div>
          <h5 class="success">+39%</h5>
          <h3>35</h3>
        </div>
      </div>
      <div class="item add-product">
        <div>
          <span class="material-icons-sharp">add</span>
          <h3>Tambah Produk</h3>
        </div>
      </div>
    </div>
    
    <!------------------- RIGHT END ------------------->
    </div>
  </div>
</body>
</html>